*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}
.foot{
    height: 100%;
    padding: 5px;
    background-color: #40ff69;
}
div.footer{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #40ff69;
}
.tapete{
    bottom: 0;
}
div.texto {
    margin-top: 18%;
    margin-bottom: 60px;
    width: 100%;
    position: absolute;
}
div.texto h2{
    font-size: 26px;
}
div.texto p{
    font-size: 20px;
}
div.texto p, div.texto h2{
    font-family: Arial;
    margin-bottom: 0;
    width: 80%;
    text-align: justify;
    margin: 0 auto 0 auto;
}
div.texto p + p{
    text-indent: 2.5em;
    margin-top: 17px;
}
/**
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
**/
.all{
    position: relative;
}
.space{
    height: 100vh;
    background-color: white;
}
svg.waves{
    position: initial;
    display: block;
}
.wave1{
    animation: onda1 19s ease-in-out infinite alternate;
}
@keyframes onda1 {
    from{
        transform: translateX(400px);	
    }
}
.wave2{
    animation: onda2 15s ease-in-out infinite alternate;
}
@keyframes onda2 {
    from{
        transform: translateX(-350px);
    }
}
.wave3{
    animation: onda3 19s ease-in-out infinite alternate;
    margin-top: 50px;
}
@keyframes onda3 {
    from{
        transform: translateX(-300px);
    }
}